<link rel="apple-touch-icon" sizes="180x180" href="/modules/ps_ropitas/views/img/favicons/apple-touch-icon.png?v=8j8GemOE7L">
<link rel="icon" type="image/png" sizes="32x32" href="/modules/ps_ropitas/views/img/favicons/favicon-32x32.png?v=8j8GemOE7L">
<link rel="icon" type="image/png" sizes="16x16" href="/modules/ps_ropitas/views/img/favicons/favicon-16x16.png?v=8j8GemOE7L">
<link rel="manifest" href="/modules/ps_ropitas/views/img/favicons/site.webmanifest?v=8j8GemOE7L">
<link rel="mask-icon" href="/modules/ps_ropitas/views/img/favicons/safari-pinned-tab.svg?v=8j8GemOE7L" color="#8a7fd4">
<link rel="shortcut icon" href="/modules/ps_ropitas/views/img/favicons/favicon.ico?v=8j8GemOE7L">
<meta name="apple-mobile-web-app-title" content="Tienda de Ropitas">
<meta name="application-name" content="Tienda de Ropitas">
<meta name="msapplication-TileColor" content="#f7f7f7">
<meta name="msapplication-config" content="/modules/ps_ropitas/views/img/favicons/browserconfig.xml?v=8j8GemOE7L">
<meta name="theme-color" content="#8a7fd4">