<link rel="apple-touch-icon" sizes="180x180" href="/modules/ps_ropitas/views/img/favicons/apple-touch-icon.png?v=yyaR832lam">
<link rel="icon" type="image/png" sizes="32x32" href="/modules/ps_ropitas/views/img/favicons/favicon-32x32.png?v=yyaR832lam">
<link rel="icon" type="image/png" sizes="194x194" href="/modules/ps_ropitas/views/img/favicons/favicon-194x194.png?v=yyaR832lam">
<link rel="icon" type="image/png" sizes="192x192" href="/modules/ps_ropitas/views/img/favicons/android-chrome-192x192.png?v=yyaR832lam">
<link rel="icon" type="image/png" sizes="16x16" href="/modules/ps_ropitas/views/img/favicons/favicon-16x16.png?v=yyaR832lam">
<link rel="manifest" href="/modules/ps_ropitas/views/img/favicons/site.webmanifest?v=yyaR832lam">
<link rel="mask-icon" href="/modules/ps_ropitas/views/img/favicons/safari-pinned-tab.svg?v=yyaR832lam" color="#9a61ad">
<link rel="shortcut icon" href="/modules/ps_ropitas/views/img/favicons/favicon.ico?v=yyaR832lam">
<meta name="apple-mobile-web-app-title" content="Tienda de Beb&eacute; Gamis&eacute;">
<meta name="application-name" content="Tienda de Beb&eacute; Gamis&eacute;">
<meta name="msapplication-TileColor" content="#9a61ad">
<meta name="msapplication-TileImage" content="/modules/ps_ropitas/views/img/favicons/mstile-144x144.png?v=yyaR832lam">
<meta name="msapplication-config" content="/modules/ps_ropitas/views/img/favicons/browserconfig.xml?v=yyaR832lam">
<meta name="theme-color" content="#9a61ad">